* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0% auto;
  }




  /* nav bar */

  .navbar {
    background-color:  #2b4f71;
    display: flex;
    justify-content: center;
    
  }

  .navbar a:link{
    color: #c9cfdf;
    text-decoration: none;
  }

  .navbar a:visited{
    color: #c9cfdf;
    text-decoration: none;
  }

  .navbar a:hover{
    color: #e9edf8;
    text-decoration: none;
    transition: 0.5s;
  }

  .navbar a:active{
    color: #e9edf8;
    text-decoration: none;
  }

  

  .navbar ul{
    list-style: none;
  }
  
.ul{
  margin-right: 10px;
  margin-top: 10px;
}

   .ul li{
    margin: 15px;
    position: relative;
    float: left;
  } 

 


.navbar ul ul{
  display: none;
}

.navbar ul li:hover  ul{
  display: block;
  visibility: visible;
  opacity: 1px;
  transition: 0.6s;
  cursor: pointer;
}


.ull {
  position: absolute;
  background-color: #2b4f71;
  width: 200%;
  height: 250px;
  box-shadow: 1px 1px 2px , -1px 0px 1px;
  top: 45px;
  left: -35px;
  opacity: 0px;
}
 
.ull li {
    width: 200%;
    padding: -20px 0px;
  }




  



.logo img{
  margin-left: -70px;
  margin-top: -10px;
}
.logo h4{
  margin-left: -90px;
}
  
  
  
  /* searchbar */
    
    .searchbar {
      height: 70px;
      display: flex;
      justify-content: center;
      margin-right: -10px;
    }
  
    .search {
      height: 50px;
      display: flex;
      cursor: pointer;
      padding: 10px 20px;
      margin-top: 10px;
      background-color: #e9edf8;
      border-radius: 30px;
      align-items: center;
      box-shadow: 0 5px 10px #2b4f71;
    }
  
    .search:hover input {
      width: 150px;
    }
  
    .search input {
      width: 80px;
      outline: none;
      border: none;
      font-weight: 500px;
      transition: 0.8s;
      background: transparent;
  
      
    }
  
  .search a.fa {
  font-size: 18px;
  color: #2b4f71;
  }
















/* section */

.section{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin-top: -20px;
  line-height: 30px;
}

.section img{
 width: 22%;
 margin-top: -60px;
 
}

.title{
 color: #2b4f71;
 margin: 12px;
 margin-left: 20px;
 }

.section p{
  margin-right: 15px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
}

.section span{
  color: #2b4f71;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.section span a:link{
 text-decoration: none;
 color: #2b4f71;
}

.section span a:visited{
  text-decoration: none;
  color: #2b4f71;
 
 }

 .section span a:hover{
  text-decoration: none;
  color: #657a97;
 
 }

 .section span a:active{
  text-decoration: none;
  color: #657a97;
 
 }



/* team */

.our {
  text-align: center;
  font-weight: bold;
  color: #2b4f71;
  margin-top: 10px;
}

.our:after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  margin: 15px auto;
  background: #2b4f71 ;
}

.container {
  margin: 20px 40px;
}

.profiles{
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile{
  flex-basis: 260px;
  text-align: center;
}

.profile img{
  height: 150px;
  width: 150px;
  border-radius: 60%;
  filter: grayscale(0%) ;
  cursor: pointer;
  transform: 0.5s;
}

.profile img:hover{
  filter: grayscale(100%) ;
}

.username{
  margin-top: 10px;
  font-size: 25px;
  color: #2b4f71;
  line-height: 60px;
}

.email{
  color: #2b4f71;
  text-decoration: underline;
}

.email a:link{
  text-decoration: none;
  color: #2b4f71;
 }
 
 .email  a:visited{
   text-decoration: none;
   color: #2b4f71;
   
  }

  .email  a:hover{
    text-decoration: none;
    color: #657a97;
    
   }

   .email  a:active{
    text-decoration: none;
    color: #657a97;
    
   }





 
   

/* footer */


.footer {
  background-color: #2b4f71;
 
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.column ul{
  list-style: none;
}

.footer h3 {
  color: #c9cfdf;
  margin-bottom: 20px;
  font-size: 15px;
  position: relative;
}

.column h3::before{
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  background-color: #e9edf8;
  bottom: -9px;
}

.column ul li a{
  padding: 10px 0px;
  color: #e9edf8;
text-decoration: none;
font-size: 16px;
opacity: 0.8;
transition: 0.5s;
}

.column ul li a:hover{
  opacity: 2;
  }

.column p{
  color: #e9edf8;
}

.socialicon i{
  display: inline-block;
  color: #e9edf8;
  font-size: 20px;
  margin: 0 5px;
  margin-right: 25px;
  transition: 0.5s;
}

.row .socialicon {
  display: inline-block;
  transition: 0.5s;
}

.row .socialicon i:hover{
 color: #c9cfdf;
}




