*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0% ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  .contact {
    background: white;
    padding: 20px 100px;
    background-image: url("New folder\COP28_logo.webp");

   }
   
  








  .contact-box{
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center; 
  align-items: center;
  text-align: center;
  background-color: #c9cfdf;
  }
  .left{
    height: 100%;

    background: url("/محاضرات ITI/HTML/project/WhatsApp\ Image\ 2023-08-21\ at\ 10.54.43\ PM.jpeg")no-repeat center;
    background-size: cover;
  }
  .right{
    padding: 25px 40px; 
    position: relative;
    left: 450px;
    margin: 30px;
    display: block;
  }
  h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h2:after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2b4f71;
  }
  .form{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #f2e8e6;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  .select2{
    color:black;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
  }
  
  .button2{
    color:black ;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    
  }

  