 *{
  box-sizing: border-box;
  padding: 0%;
  margin: 0% ;
}

.form{
    background : white;
    border: 7px;
    text-align: center;
    width: 300px;
    margin: 5% auto 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding: 20px;
}

.form img{
  margin-top: -10px;
  width: 80px;
}

.heading{
  text-align: center;
}

.form h1{
  color: #2b4f71;
  margin-top: -10px;
  margin-bottom: 10px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 0.5px solid #2b4f71;
  outline: none;
}

h3 {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: left;
 color: #2b4f71;
 font-size: small;
}

p{
  color: #2b4f71;
}

button{
  color: #e9edf8;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}

.button2{
background-color: #657a97;
color: #e9edf8;
border: #657a97;
}

.or{
  background:#fff ;
  width: 30px;
  margin: -15px auto 10px;
}

hr{
  margin-top: 20px;
  width: 100%;
}

.button3 {
  background-color: #657a97;
  color: #e9edf8;
  border: #657a97;
  }

  .button3 a:link{
    color: #e9edf8;
    text-decoration: none;
  }
  
  .button3 a:visited{
    color: #e9edf8;
    text-decoration: none;
  }
  
  .button3 a:hover{
    color: #c9cfdf;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .button3 a:active{
    color: #c9cfdf;
    text-decoration: none;
  }

 

 
  p a:link{
    color: #657a97;
    text-decoration: none;
  }
  
  p a:visited{
    color: #657a97;
    text-decoration: none;
  }
  
  p a:hover{
    color: #c9cfdf;
    text-decoration: none;
    transition: 0.5s;
  }
  
  p a:active{
    color: #c9cfdf;
    text-decoration: none;
  }







